.custom-navbar {
    height: 40px;
    line-height: 40px;
}

.header-link {
    display: flex;
    align-items: center;
    color: #f8f9fa !important;
    margin-right: 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}


.header-link:hover {
    height: 40px;
    color: orange !important;
}

.help {
    font-size: 14px;
}

.social {
    font-size: 18px;
}